<mat-toolbar >
  <mat-toolbar-row>
    <span>Custom Toolbar 1</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Custom Toolbar 2</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="big-toolbar">
  <button mat-raised-button class="success-button" (click)="showMembers()"> Show the available members </button>
</mat-toolbar>
<div *ngIf="showDetails">
  <mat-list *ngFor="let item of members" class="container">
    <button mat-raised-button class="email" routerLink="/presentation/{{item.id}}"> {{item.email}} </button>
    <div class="email"> {{item.score}} </div>
    <button mat-raised-button color="warn" (click)="eventShow($event)"> event show </button>
  </mat-list>

</div>
<mat-grid-list cols="3" rowHeight="7:3" gutterSize="6px">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>

</mat-grid-list>

<div class="container-contact-form">
    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input matInput placeholder="Email">
      <mat-hint>Required</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input matInput placeholder="Subject">
      <mat-hint>Required</mat-hint>
    </mat-form-field>


    <mat-form-field  appearance="outline">
      <mat-label>Message</mat-label>
      <input style="height: 123px;"   matInput placeholder="Message" >
      <mat-hint>* Required</mat-hint>
    </mat-form-field>

    <button mat-raised-button>Send</button>


</div>
<!-- article event is the same name as the dumb component output's variable decorator
display event is the function that takes the event from the dumb component

see in the articles to check it out what happens in the dumb component
-->
<app-articles [article]="article" (articleEvent)="displayEvent($event)"></app-articles>




